.settings/

.idea/
*.env
stylechanging/__pycashe__

stargan/
#stargan_celeba_128/
starstargan_celeba_128gan/

ai_model/stargan_celeba_128/logs
ai_model/stargan_celeba_128/results
ai_model/__pycashe__

media/